@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    font-family: 'Roboto', Arial, sans-serif
}
body
{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul, ol, li, a
{
    list-style: none;
    text-decoration: none;
}

.header
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1
{
    font-size: 24px;
    color: #F9FAF8;
}

.header a
{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}
