@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    font-family: 'Roboto', Arial, sans-serif
}

body
{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul, ol, li, a
{
    list-style: none;
    text-decoration: none;
}

.top
{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0px 256px 128px;
}

.header
{
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-between;
}

.header h2
{
    font-size: 24px;
    color: #F9FAF8;
}

.header ul
{
    display: flex;
    gap: 24px;
}

.header a
{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.section1
{
    display: flex;
    gap: 128px;
}

.section1 .left
{
    display: flex;
    flex-direction: column;
}

.section1 h1
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}
.section1 p
{
    font-size: 18px;
    color: #E5E7EB;
}

.section1 button
{
    background-color: #3882f6;
    color: white;
    height: 36px;
    width: 128px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.box img
{
    border: solid #3882f6;
    border-radius: 10px;
}

.header2
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.section2
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    align-items: center;
}

.boxes
{
    display: flex;
    gap: 32px;
}

.box
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box p
{
    text-align: center;
}

.section3
{
    background-color: #e5e7eb;
    padding: 5vw 25vw 5vw;
    display: flex;
    flex-direction: column;
   
}

.section3 .quote
{
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
    margin-bottom: 0;
}

.section3 .underquote
{
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}

.section4
{
    padding: 125px 225px 125px;
}

.call
{
    background-color: #3882f6;
    color: white;
    padding: 55px 150px 55px;
    border-radius: 10px;
    display: flex;
}
 
.calltext p, .calltext h2
{
    margin: 0;
}

.signup button
{
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.signup button:hover
{
    background-color: rgba(211, 211, 211, 0.25)
} 

.signup
{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
}